# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/medicares/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/medicares/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/.vs/medicares/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/medicares/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/medicares/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/medicares/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/medicares/FileContentIndex/d6a2deb5-0187-44d4-8419-83fc2efdad55.vsidx
/.vs/slnx.sqlite
/.gitignore
/.vs/slnx.sqlite
/.vs/slnx.sqlite
